<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
	<div class="offcanvas__option">
		<div class="offcanvas__links">
			<a href="#/login">Sign in</a>
			<a href="#">Admin</a>
		</div>
	</div>
	<div class="offcanvas__nav__option">
		<a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
		<a href="#" ng-show="!ctrl.currentMember"><img src="img/icon/order.png" alt=""></a>
		<a href="#/account" ng-show="ctrl.currentMember"><img src="img/icon/account5.png" alt=""></a>
		<a href="#/cart"><img src="img/icon/cart.png" alt=""> <span style="color: crimson;">{{ctrl.orderQuantity}}</span></a>
<!--		<div class="price">2.000.000đ</div>-->
	</div>
	<div id="mobile-menu-wrap"></div>
	<div class="offcanvas__text">
		<p>358/5/3 CMT8, P10, Q3, HCM. -- Phone: 0908.01.7383</p>
	</div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-7">
					<div class="header__top__left">
						<p>358/5/3 CMT8, P10, Q3, HCM. -- Phone: 0908.01.7383</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-5">
					<div class="header__top__right">
						<div class="header__top__links">
							<a href="#/login" ng-show="!ctrl.currentMember">Sign in</a>
							<a href="" ng-show="ctrl.currentMember" ng-click="ctrl.logout()" >Sign out</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="header__logo">
					<a href="#/"><img src="img/logo2.jpeg" alt=""></a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<nav class="header__menu mobile-menu">
					<ul>
						<li class="active"><a href="#/">Home</a></li>
						<li><a href="./shop.html">Shop</a>
							<ul class="dropdown">
								<li ng-repeat="cate in ctrl.cateList | filter:{ type: 'CATEGORY' }"><a href="#/productCategory/{{cate.id}}">{{cate.name}}</a></li>
							</ul>
						</li>
						<li><a href="#">Collections</a>
							<ul class="dropdown">
								<li><a href="./about.html">About Us</a></li>
								<li><a href="./shop-details.html">Shop Details</a></li>
								<li><a href="./shopping-cart.html">Shopping Cart</a></li>
								<li><a href="./checkout.html">Check Out</a></li>
								<li><a href="./blog-details.html">Blog Details</a></li>
							</ul>
						</li>
						<li><a href="./blog.html">Blog</a></li>
						<li><a href="./contact.html">Contact</a></li>
						<li><a href="" ng-show="ctrl.isAdmin">admin</a>
							<ul class="dropdown">
								<li><a href="./about.html">products</a></li>
								<li><a href="./shop-details.html">banners</a></li>
								<li><a href="./shopping-cart.html">orderr</a></li>
								<li><a href="./checkout.html">members</a></li>
								<li><a href="./blog-details.html">articles</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="header__nav__option">
					<a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
					<a href="#" ng-show="!ctrl.currentMember"><img src="img/icon/order.png" alt=""></a>
					<a href="#/account" ng-show="ctrl.currentMember"><img src="img/icon/account5.png" alt=""></a>
					<a href="#/cart"><img src="img/icon/cart.png" alt=""> <span style="color: crimson;">{{ctrl.orderQuantity}}</span></a>
<!--					<div class="price">2.000.000đ</div>-->
				</div>
			</div>
		</div>
		<div class="canvas__open"><i class="fa fa-bars"></i></div>
	</div>
</header>
<!-- Header Section End -->