<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h6 class="checkout__title">Order Details</h6>
				<div class="row">
					<div class="col-lg-6">
						<div class="checkout__input">
							<p>Full Name<span>*</span></p>
							<input type="text"  ng-model="ctrl.me.fullName" ng-change="ctrl.clearErrorMsg()">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="checkout__input">
							<p>Phone<span>*</span></p>
							<input type="text" ng-model="ctrl.me.phone" ng-change="ctrl.clearErrorMsg()">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="checkout__input">
							<p>RelationShip</p>
							<input type="text"  ng-model="ctrl.me.fullName" ng-change="ctrl.clearErrorMsg()">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="checkout__input">
							<p>Deposit</p>
							<input type="text" ng-model="ctrl.me.phone" ng-change="ctrl.clearErrorMsg()">
						</div>
					</div>
				</div>
				<div class="checkout__input" style="margin-bottom: 50px;">
					<p>Address<span>*</span></p>
					<input type="text" placeholder="Điền địa chỉ chính xác để nhận hàng nhanh chóng.&#10;Và ghi chú cần thiết khi giao hàng." class="checkout__input__add"
						   ng-model="ctrl.me.address" ng-change="ctrl.clearErrorMsg()">

				</div>

			</div>
			<div class="col-lg-4">
				<div class="cart__discount">
					<h6>Discount codes</h6>
					<form>
						<input type="text" placeholder="Coupon code" ng-model="ctrl.couponCode">
						<button type="button" ng-click="ctrl.getCoupon(ctrl.couponCode)">Apply</button>
					</form>
				</div>
				<div class="cart__total">
					<h6>Cart total</h6>
					<ul>
						<li>Subtotal <span>{{ctrl.subTotal | number:0}}đ</span></li>
						<li>Coupon <span>({{ctrl.couponDiscount}}%) {{(ctrl.couponDiscount)/100*ctrl.subTotal | number:0}}đ</span></li>
						<li>Total <span>{{ctrl.total | number:0}}đ</span></li>
					</ul>
					<a href="" class="primary-btn" ng-click="ctrl.placeOrder()">Place order</a>
					<div class="alert alert-danger" role="alert" ng-show="ctrl.isErrorMsg"
						 style="margin-top:20px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span>
						{{ctrl.isErrorMsg}}
					</div>

					<div class="alert alert-success" role="alert" ng-show="ctrl.order_return_status"
						 style="margin-top:20px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">success:</span>
						Đặt hàng thành công. Mã đơn: A{{("000"+ctrl.newOrderId).slice(-4)}}. Vào trang cá nhân để theo dõi đơn hàng
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<h2>Glass Prescription</h2>
		<br>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item" ng-repeat="item in ctrl.orderDetailList track by $index">
				<a class="nav-link {{$index == 0 ? 'active' : ''}}"
				   data-toggle="tab" href="" data-target="#home{{$index}}" >Prescription {{$index}}</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="" ng-click="ctrl.add1Tab()"> + </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="" ng-click="ctrl.remove1Tab()"> - </a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div id="home{{$index}}" class="container tab-pane {{$index == 0 ? 'active' : ''}}" ng-repeat="item in ctrl.orderDetailList track by $index"><br>
				<h3>HOME {{$index}}</h3>
				<p>Lorem ipsum dolor sit amet,{{$index}} consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>

		</div>
	</div>

</section>
<!-- Shopping Cart Section End -->