<style>

.thumb {
    width: 100px;
    height: 100px;
    float: none;
    position: relative;
    top: 7px;
    margin-bottom: 20px;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.bt {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  margin-left: -5px;
  margin-top: -3px;
  padding: 7px 17px;
}
</style>
<link href="css/main2.css" rel="stylesheet">
<section style="margin-top: 30px;">
	<div class="container" ng-cloak>
		<h3 style="padding-bottom: 40px;">Customer Source </h3>

		<div class="row" style="margin-bottom: 30px;">
			<div class="col-md-1">
				<input type="number"  ng-model="ctrl.theOne.id" disabled="disabled" placeholder="id" style="width:60px;"/>
			</div>
			<div class="col-md-2">
				<input type="text"  ng-model="ctrl.theOne.name" placeholder="name" style="width: 100%;"/>
			</div>

			<div class="col-md-2">
				<a ng-click="ctrl.upsert(ctrl.theOne)" href="" class="btn btn-default check_out" style="margin: 0px 0px 0px 0px;">Save</a>
				<a ng-click="ctrl.clear()" href="" class="btn btn-default check_out" style="margin: 0px 0px 0px 0px;">clear</a>
			</div>
			<div class="col-md-1">
				<div class="alert alert-success" role="alert" ng-show="ctrl.responseStr" 
					 style="margin: 0px 0px 0px 0px;width: 120px;height: 0px;padding: 5px 0px 25px 10px;">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  <span class="sr-only"></span>
						 thành công
				</div>
				<div class="alert alert-danger" role="alert" ng-show="ctrl.responseStrFail" 
					 style="margin: 0px 0px 0px 0px;width: 120px;height: 0px;padding: 5px 0px 25px 10px;">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  <span class="sr-only"></span>
						 thất bại
				</div>
			</div>
		</div>

		<!--data table-->
        <div class="table-responsive">
            <table ng-table="ctrl.tableParams" class="table table-bordered table-hover table-striped" show-filter="true">
			    <tr ng-repeat="one in $data">
			        <td title="'id'" filter="{ 'id': 'number'}" sortable="'id'" style="width:80px;text-align: center;">
			        	<a href="" ng-click="ctrl.setTheOne(one)">{{one.id}}</a>
			        </td>
					<td title="'name'" filter="{ 'name': 'text'}" sortable="'name'"  style="width:180px;">
						<a href="" ng-click="ctrl.setTheOne(one)">{{one.name}} </a>
					</td>
					<td title="'count'" filter="{ 'count': 'number'}" sortable="'count'"  style="width:130px;">
						{{one.count}}
					</td>
			        <td title="'Create date'" filter="{ 'gmtCreate' : 'text'}" sortable="'gmtCreate'" >
			        	{{one.gmtCreate | date:"yyyy-MM-dd hh:mm:ss"}}
			        </td>

			      	<td title="'delete'" style="width:100px;" >
			        	<!--<a ng-click="ctrl.deleteOne(one)" href="" class="btn btn-default check_out" style="margin: 0px 0px 0px 0px;">delete</a>-->
			        </td>
			    </tr>
			</table>
        </div>


	</div>
</section>