<link href="css/main2.css" rel="stylesheet">
<section>
	<div class="container" ng-cloak>
		<h3 style="margin-bottom: 20px;">Order management </h3>
		
		<div class="row" style="margin-bottom: 15px;">
			
			<div class="col-sm-2">
				<select  ng-model="ctrl.amount"  ng-change="ctrl.getOrderByTerm()"
					 ng-options="opt.value as opt.name for opt in ctrl.amountList"
					 style="width: 100%;height: 40px;">
		    	</select> 
			</div>
			<!--<div class="col-sm-1"></div>-->
			<div class="col-sm-2" style="font-size: large;color:limegreen;">
				order:	{{ctrl.statusNumber.ordered}}
			</div>
			<div class="col-sm-2" style="font-size: large;color:blue;">
				paid :	{{ctrl.statusNumber.paid}}
			</div>
			<div class="col-sm-2" style="font-size: large">
				ship:	{{ctrl.statusNumber.shipped}}
			</div>
			<div class="col-sm-2" style="font-size: large;color:brown;">
				deposit: {{ctrl.statusNumber.deposit}}
			</div>
			<div class="col-sm-2" style="font-size: large">
				done: {{ctrl.statusNumber.done}}
			</div>

		</div>
		
		
        <div class="table-responsive">
            <table ng-table="ctrl.tableParams" class="table table-bordered table-hover table-striped" show-filter="true">
			    <tr ng-repeat="order in $data">
			        <td title="'id'" filter="{ 'id': 'number'}" sortable="'id'" style="width:80px;text-align: center;">
			        	<a href="" ng-click="ctrl.showOrderDetail(order)">{{order.id}}</a>
			        </td>
			        <td title="'Date'" filter="{ 'gmtCreate' : 'text'}" sortable="'gmtCreate'" style="width:180px;">
			        	<a href="" ng-click="ctrl.showOrderDetail(order)">{{order.gmtCreate | date:"dd-MM-yyyy  HH:mm:ss"}}</a>
			        </td>
			        <td title="'total'" filter="{ 'total' : 'text'}" sortable="'total'" style="text-align: right;width:110px;">{{order.total | number:0 }}đ</td>
			        <td title="'phone'" filter="{ 'shippingPhone' : 'text'}"  sortable="'shippingPhone'" style="width:130px;">{{order.shippingPhone | tel}}</td>
					<td title="'name'" filter="{ 'shippingName' : 'text'}"  sortable="'shippingName'">{{order.shippingName}}</td>
					<td title="'cont'" style="width:80px;">{{order.frameNumber}}G+{{order.lensNumber}}T</td>

					<td title="'source'" style="width:100px;">
						<select  ng-model="order.cusSource"  ng-change="ctrl.updateCusSource(order)"
								 ng-options="opt.id as opt.name for opt in ctrl.cusSourceList"
								 ng-disabled="ctrl.isUpdatingOrder" ng-show="order.location == 'STORE'">
						</select>
					</td>

			        <td title="'status'"  sortable="'status'" style="width:80px;">
						<select  ng-model="order.status"  ng-change="ctrl.updateOrderStatus(order)"
								 ng-options="opt.value as opt.name for opt in ctrl.OrderStatusArray"
								 ng-disabled="ctrl.isUpdatingOrder"
								 style="height: 40px;" ng-style="ctrl.setStyle(order.status)">
						</select>
					</td>
					<td title="'delete'" style="width:fit-content;" >
						<a ng-click="ctrl.promptDelete(order.id)" href="" class="btn btn-default check_out" style="margin: 0px 0px 0px 0px;" >delete</a>
						<p ng-show="ctrl.deletingOrderId == order.id">
							Are you sure?
							<a ng-click="ctrl.deleteOrder(order)" href="" class="btn btn-default check_out" style="margin: 4px 4px 4px 4px;">yes</a>
							<a ng-click="ctrl.resetDelete()" href="" class="btn btn-default check_out" style="margin: 4px 4px 4px 4px;">no</a>
						</p>

					</td>
			    </tr>
			</table>
			<h3 ng-show="ctrl.showLoadingText" style="text-align: center;">Loading...</h3>
        </div>
	</div>
</section>
<section id="cart_items" ng-show="ctrl.theOrder">
		<div class="container">
			<div class="row" >
				<div class="col-sm-3">
					<select  ng-model="ctrl.theOrder.status"  ng-change="ctrl.updateOrderStatus(ctrl.theOrder)"
							 ng-options="opt.value as opt.name for opt in ctrl.OrderStatusArray"
							 style="height: 40px;">
				    </select> 
				</div>
				<div class="col-sm-3">
					<div class="alert alert-success" role="alert" ng-show="ctrl.responseStr" 
						 style="margin-top:10px;margin-left: 30px;margin-right: 20px;">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  <span class="sr-only"></span>
						 Cập nhật thành công
					</div>
				</div>
			</div>
			
			
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Order : {{ctrl.theOrder.id +" | "+ ctrl.theOrder.statusName}}</td>
							<td class="description" style="text-align: left;padding-left: 40px;"> name </td>
							<td class="price" style="text-align: right;padding-right: 80px;">Price</td>
							<td class="quantity" style="text-align: left;">Quantity</td>
							<td class="total" style="text-align: right;">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in ctrl.theOrder.orderDetails ">
							<td class="cart_product">
								<a href="#/productDetail/{{item.product.id}}">
									<img ng-src="img/product/{{item.product.thumbnail}}" style="margin-right: 20px;width: 110px;" alt="">
								</a>
							</td>
							<td class="cart_description" style="text-align: left;padding-left: 40px;">
								<h4><a href="#/productDetail/{{item.product.id}}">{{item.product.name}}</a></h4>
								<p>Prod ID: {{item.product.id}}</p>

							</td>
							<td class="cart_price" style="text-align: right; padding-right: 80px;">
								<p>{{item.framePriceAtThatTime*(100 - item.frameDiscountAtThatTime)/100 | number:0}} đ</p>
								<p ng-show="item.frameDiscountAtThatTime != 0"><s style="color: #0d0d0d6e;">{{item.framePriceAtThatTime | number:0}} đ</s></p>
							</td>
							<td class="cart_quantity" style="text-align: center;">
								<p>{{item.quantity}}</p>
							</td>
							<td class="cart_total" style="text-align: right;">
								<p class="cart_total_price">{{item.framePriceAtThatTime*(100 - item.frameDiscountAtThatTime)/100 * item.quantity  | number:0}} đ</p>
							</td>
							<td class="cart_delete">
							</td>
						</tr>
						<tr style="border-bottom: 0px;">
							<td colspan="2" style="padding-left: 30px;vertical-align: baseline;padding-top: 62px;">
								<h6 class="checkout__title">Shipping Details</h6>


								<div class="row">
									<div class="col-lg-6">
										<div class="checkout__input">
											<p>Full Name<span>*</span></p>
											<input type="text"  ng-model="ctrl.theOrder.shippingName">
										</div>
									</div>
									<div class="col-lg-6	">
										<div class="checkout__input">
											<p>Phone<span>*</span></p>
											<input type="text" ng-model="ctrl.theOrder.shippingPhone">
										</div>
									</div>
								</div>
								<div class="checkout__input" style="margin-bottom: 50px;">
									<p>Address<span>*</span></p>
									<input type="text" placeholder="Điền địa chỉ chính xác để nhận hàng nhanh chóng.&#10;Và ghi chú cần thiết khi giao hàng." class="checkout__input__add"
										   ng-model="ctrl.theOrder.shippingAddress">

								</div>

							</td>
							<td colspan="1" style="padding-top: 23px;">
							</td>
							<td colspan="3">
								<h6 class="checkout__title">Order total</h6>
								<div class="cart__total">
									<ul>
										<li>Subtotal <span>{{ctrl.theOrder.subTotal | number:0}}đ</span></li>
										<li>Coupon <span>({{ctrl.theOrder.couponDiscount}}%){{ctrl.theOrder.couponAmount | number:0}}đ</span></li>
										<li>Total <span>{{ctrl.theOrder.total | number:0}}đ</span></li>
									</ul>

								</div>

							</td>
						</tr>
						
					</tbody>
				</table>
				<a ng-click="ctrl.deleteOrder(ctrl.theOrder)" href="" class="btn btn-default check_out" style="margin: 0px 0px 30px 30px;">delete</a>
			</div>

		</div>
</section>